MIREYE_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXAiOiJhcGlfdG9rZW4iLCJpc3MiOiJtaXJleWUtZWFydGgiLCJhdWQiOiJtaXJleWUtYXBpIiwic3ViIjoiQUtFWWNwd3QyNE5za0FucWxpdmtybkV6Y0xJMiIsImp0aSI6InRva19waGVid0RnTi1NdjliUSIsImlhdCI6MTc4Mjk2MTEyNiwiZXhwIjoxNzkwNzM3MTI2fQ.NSRdMHmz61FicvtJ_oaXAFDViiRnY3_r7jy1HVZ_e6w
MIREYE_BASE_URL=https://api.mireye.com/v1

OPENCODE_API_KEY=